* {
    margin: unset;
    padding: unset;
    outline: unset;
    border: unset;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


    /* No asignes un background acá o todos los elementos lo tendrán */
}

body {
    font-size: 1rem;
    display: flex;
    background: #260101;
}

button {
    background-color: transparent;
    cursor: pointer;
}

.lado__izquierdo {

    display: flex;

}

.lado__izquierdo__container {

    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    justify-content: space-between;
    background: #f230307a;
    padding: 10px 30px;

}

.lado__izquierdo__container__1 {

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.lado__izquierdo__container__1>button>img {

    max-width: 32px;
    padding: 5px;
}

.lado__izquierdo__container__2 {

    display: flex;
    flex-direction: column;
    gap: 20px;

}

.lado__izquierdo__container__2>button>img {

    max-width: 32px;
    padding: 5px;
}

.main {

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    color: #FFFFFF;
    flex-grow: 1;

}

.main__section1 {

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f2303025;

    /* Evita el uso de margin, mejor usa padding */
    padding: 15px 30px;
    gap: 20px;

}

.main__section1__izquierdo {

    display: flex;
    gap: 15px;
    background-color: #d9d2d079;
    border-radius: 5px;
    padding: 2px 5px;

}

.main__section1__izquierdo img {

    background-color: transparent;
    cursor: pointer;
    width: 23px;

}

.main__section1__izquierdo input {

    background: transparent;

}

.main__section1__izquierdo ::placeholder {

    color: #ffffff75;

}

.main__section1__derecho {

    display: flex;
    gap: 35px;

}

.main__section1__derecho img:nth-child(1) {

    width: 25px;
    height: 30px;
    cursor: pointer;

}

.main__section1__derecho img:nth-child(2) {

    width: 40px;
    height: 30px;
    cursor: pointer;

}

.main__section2 {

    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 3px 10px;
    flex-grow: 1;

}

.main__section2__contenido1 {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;
    flex-grow: 1;

}

.main__section2__contenido1__recomendado {

    display: flex;
    flex-direction: column;
    gap: 30px;
    max-height: 325px;
    
    
}

.main__section2__contenido1__recomendado>p {
    
    font-size: 30px;
    
    
}

.main__section2__contenido1__recomendado__tarjetas {
    
    overflow-y: scroll;
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
    flex-grow: 1;

}

.tarjetas__Recomendadas {

    display: flex;
    flex-direction: column;
    background: #f2303071;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 3px 4px 7px #f230303a;

}

.tarjetas__Recomendadas>img {

    border-radius: 5px;
    max-width: 200px;

}

.tarjetas__Recomendadas__abajo {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;

}

.tarjetas__Recomendadas__abajo__info {

    font-size: 14px;

}

.tarjetas__Recomendadas__abajo__info p:nth-child(2) {

    opacity: .4;
    font-size: 10px;

}

.main__section2__contenido1__playlist {

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 30px;

}

.main__section2__contenido1__playlist>p {

    font-size: 30px;

}

.main__section2__contenido1__playlist__contenedor {

    display: flex;
    gap: 16px;

}

.main__section2__contenido1__playlist__contenedor__hijos {

    display: flex;
    flex-direction: column;
    background: #1f1f1f;
    border-radius: 10px;

}

.hijos__abajo {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border-radius: 5px;


}

.abajo__info {

    font-size: 14px;

}

.abajo__info p:nth-child(2) {

    opacity: .4;
    font-size: 10px;

}

.main__section2__contenido2 {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.main__section2__contenido2__reproductor {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #f252527a;
    padding: 10px 30px;
    border-radius: 5px;

}

.main__section2__contenido2__anteriores {

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;

}

.main__section2__contenido2__anteriores img {

    max-width: 35px;

}

.main__section2__contenido2__anteriores>p {

    font-weight: bold;
    font-size: 15px;

}

.main__section2__contenido2__anteriores__container {

    display: flex;
    gap: 20px;
    border: 1px solid #f29494ab;
    padding: 1px 5px;
    border-radius: 10px;

}

.main__section2__contenido2__anteriores__container__info {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px
}

.main__section2__contenido2__anteriores__container__info p:nth-child(2) {

    font-size: 10px;
    opacity: .4;

}


.main__section2__contenido1__recomendado__tarjetas::-webkit-scrollbar {
    width: 8px;
    /* Tamaño del scroll en vertical */
    height: 8px;
    /* Tamaño del scroll en horizontal */
    display: none;
    /* Ocultar scroll */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
.main__section2__contenido1__recomendado__tarjetas::-webkit-scrollbar-thumb {
    background: #e4000081;
    border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.main__section2__contenido1__recomendado__tarjetas::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.main__section2__contenido1__recomendado__tarjetas::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}


body::-webkit-scrollbar {
    width: 8px;
    /* Tamaño del scroll en vertical */
    height: 8px;
    /* Tamaño del scroll en horizontal */
    display: inline;
    /* Ocultar scroll */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
body::-webkit-scrollbar-thumb {
    background: #e4000081;
    border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
body::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
body::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}